@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #4c595880;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: red;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(73, 5, 5);
}
h2{
    color: rgb(16, 56, 143);
}

body{
    background-image: linear-gradient(to right, #127369, #10403B, #8AA6A3);
}

p{  
    text-align: justify;
}